
{% include 'layout/header.twig.html' %}


<!-- Header -->
			<header id="header">
				<h1>digthrough.tech</h1>
				<p>Data-driven deck building with a git-like workflow<br />
				for the greatest game ever made.<br />
			    Coming soon.</p>
			</header>

		<!-- Signup Form -->
			<!--<form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" value="Get Notified" />
				<div class="g-recaptcha" data-sitekey="6Ldl2zcUAAAAAM0VPQSsnwaVJrt2f0rOTRKnoSYF"></div>
			</form>-->


{% include 'layout/footer.twig.html' %}
